aside{
    padding: 30px 20% 0px;
}

li {
    display: block;
    font-size: 0.8em;
    padding: 0;
    margin-top: 5px;
}

.progress {
    margin: 0;
}

li ul {
    display: inline-block;
    padding: 0;
    width: 13.7%;
    vertical-align: text-top;
}

label {
    position: relative;
    top: -20px;
    left: -5em;
}

.group {
    height: 20px;
}