<section>
  <h3>ลักษณะการเรียนรู้</h3>
  <p><span class="tab"></span>เลือกคำตอบที่อธิบายทางเลือกที่ดีที่สุดของคุณ โดยทำวงกลมรอบตัวอักษรหน้าคำตอบนั้น วงกลมได้มากกว่าหนึ่งคำตอบ ถ้าหากว่าคำตอบเดียวไม่เพียงพอตรงกับความรู้สึกของคุณ เว้นว่างไว้ในข้อที่มิได้เกี่ยวข้องกับคุณ</p>
  <form (ngSubmit)="onSubmit()" #natureForm="ngForm">
  <div class="form-group" *ngFor="let question of questionList">
    <label>{{question.q}}</label>
    <div class="checkbox" *ngFor="let answer of question.a">
      <label><input type="checkbox" name="" value="">{{answer}}</label>
    </div>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="!natureForm.form.valid">ส่งแบบสอบถาม</button>
  </form>
</section>