<section>
  <form (ngSubmit)="onSubmit()" #testForm="ngForm" id="test-form">
  <div class="group">
  <article class="test">
    <div class="form-group" *ngFor="let test of testList; let i = index;">
      <label>QUESTION {{i+1}}</label>
      <label class="question tab">{{test.q}}</label>
      <div class="radio tab" *ngFor="let answer_text of test.a;let j = index;">
        <label>
          <input type="radio" name="t{{i+1}}" value="{{j+1}}" required>
          {{answer_text}}
        </label>
      </div>
    </div>
  </article>
  <article class="calculator">
    <iframe width="100%" height="420" src="http://web2.0calc.com/widgets/horizontal/?options=%7B%22angular%22%3A%22deg%22%2C%22options%22%3A%22hide%22%2C%22menu%22%3A%22show%22%7D" scrolling="no" style="border: 1px solid silver; "> 
    </iframe>
  </article>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="!testForm.form.valid" (click)="onSubmit()">ส่งคำตอบ</button>
  </form>
</section>