header {
    background: rgb(208, 143, 161);
    color: white;
    padding: 20px 10% 10px;
    overflow: hidden;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    float: left;
}

form {
    float: right;
} 

