<image-slider></image-slider>
<section>
  <p>สวัสดีครับ ยินดีต้อนรับเข้าสู่เว็บไซต์การเก็บข้อมูลวิจัยการเรียนออนไลน์ประกอบการใช้ eBook
  กรุณากรอกรหัสนิสิตจำนวน 10 หลักเพื่อเข้าสู่ระบบ</p>
  <form class="form-inline" *ngIf="active" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group" [class.has-error]=invalid>
      <label class="sr-only" for="studentId">รหัสนิสิต</label>
      <input type="text" class="form-control" id="studentId" name="studentId" [(ngModel)]="loginModel.studentId" placeholder="รหัสนิสิต"  aria-describedby="helpStudentId">
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">เข้าสู่ระบบ</button>
      <span id="helpStudentId" class="help-block" *ngIf="invalid">รหัสนิสิตไม่ถูกต้อง กรุณาใส่ใหม่อีกครั้ง หรือติดต่อผู้วิจัยตามข้อมูลข้างล่าง</span>
    </div>
  </form>
  <p>*หากไม่สามารถเข้าสู่ระบบได้
  กรุณาติดต่อ คุณถิรายุ เบอร์โทรศัพท์ : 0863943860 หรือ อีเมล์ : <a href="mailto:thirayu.ya568@cbs.chula.ac.th">thirayu.ya568@cbs.chula.ac.th</a></p>
</section>